 * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

     
      .author-info {
        font-size: 14px;
        text-align: center;
        margin-top: 16px;
        color: rgb(55, 65, 81);
      }

      .author-info a {
        text-decoration: none;
      }
       body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 1rem;
        background-color: whitesmoke;
      }
      .container{
        max-width: 20rem;
        width: 100%;
        background-color: whitesmoke;
        padding: 2rem;
        border-radius: 1rem;
      }
      .image{
        display: flex;
        justify-content: center;
      }
      h2{
        line-height: 3rem;
        text-align: center;
      }
      .text{
        text-align: center;
        padding-bottom: 2rem;
        font-size: .7rem;
      }
      .send{
        max-width: 17rem;
        width: 100%;
        background-color: white;
        border-radius: 1rem;
        padding: .5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
      
      }

      #email{
        margin-top: 1rem;
         margin-bottom: 1rem;
         border-radius: .3rem;
         border: solid 1px gainsboro;
         font-size: .6rem;
         background-color: rgb(236, 232, 232);
         height: 1.9rem;
         padding: .2rem 3rem .2rem 3rem;

      }
      #envoie{
        background-color: blue;
       
         border-radius: .3rem;
        border: none;
         font-size: .6rem;
         height: 1.9rem;
         color: white;
         padding: .2rem 5rem .2rem 5rem;
        
      }
      .fin{
        text-align: center;
        font-size: .5rem;
        padding-top: 1rem;
      }
      @media (min-width:768px){
       .container{
        max-width: 50rem;
        width: 100%;
        background-color: whitesmoke;
        padding: 2rem;
        border-radius: 1rem;
      }
      form{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .fin{
        font-size: .5rem;
         color:rgb(158, 154, 154);
      }
     
      }
